@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.navbar a:hover {
  color: #ffdc16;
}
.navbar .container .navbar-collapse .d-flex .form-control:focus {
  color: var(--bs-bodyy-color);
  background-color: #fcf3bf;
  border-color: #fff1a1;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #ffdc16;
          box-shadow: 0 0 0 0.25rem #ffdc16;
}
.navbar .container .navbar-collapse .d-flex .btn {
  background: gray;
  border: 1px solid lightgray;
}
.navbar .container .navbar-brand {
  color: #ffdc16;
  font-weight: bold;
}
.navbar .container #navbar-toggler {
  border: 1px solid #fff !important;
}

.banner {
  height: 500px;
  background-size: cover;
  color: #fff;
  padding: 60px;
  position: relative;
  z-index: 1;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.137)), to(rgb(0, 0, 0)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.137), rgb(0, 0, 0));
  top: 0;
  left: 0;
  z-index: -1;
}
.banner .movie-info {
  width: 1300px;
  height: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner .movie-info img {
  width: 240px;
  height: 360px;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  margin-right: 50px;
}
.banner .movie-info .movie-info-box h2 {
  font-weight: bold;
  font-size: 50px;
  color: #ffdc16;
}
.banner .movie-info .movie-info-box .release-date {
  margin-bottom: 40px;
}
.banner .movie-info .movie-info-box p {
  font-size: 16px;
  width: 600px;
}
.banner .movie-info .movie-info-box .btn {
  height: 50px;
  width: 100px;
}

.home-pages {
  width: 100vw;
}
.home-pages .home-page {
  width: 1300px;
  margin: auto;
}

.react-multi-carousel-list .movie-card {
  position: relative;
  border: 1px solid #000;
  overflow: hidden;
  width: 350px;
  background-size: cover;
}
.react-multi-carousel-list .movie-card:hover .overlay {
  opacity: 1;
  top: 0;
}
.react-multi-carousel-list .movie-card .overlay {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
}
.react-multi-carousel-list .movie-card .overlay .text-wrap {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.react-multi-carousel-list .movie-card .overlay .text-wrap p {
  margin: 0;
  padding: 0;
}
.react-multi-carousel-list .movie-card .overlay .text-wrap .adult {
  background: #ffdc16;
  color: #333;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 3px;
}
.react-multi-carousel-list .movie-card .overlay .text-wrap .vote {
  font-weight: 800;
  font-size: 1.2rem;
}
.react-multi-carousel-list .movie-card .overlay .text-wrap .overview {
  overflow: hidden;
  color: rgb(192, 188, 188);
  line-clamp: 5;
  display: -webkit-box;
  white-space: normal;
  text-overflow: ellipsis;
}
.react-multi-carousel-list .movie-title {
  font-size: 1.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movie-detail-back {
  border: 1px solid #000;
  height: 500px;
  background-position: center;
  position: relative;
}
.movie-detail-back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.377);
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 10;
}
.container .align-items-center .movie-detail-poster {
  width: 300px;
  margin-top: 20px;
}
.container .align-items-center h2 {
  font-weight: bold;
  color: #ffdc16;
  font-size: 60px;
}
.container .align-items-center i {
  margin-right: 10px;
}
.container .align-items-center .language {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background-color: #ffdc16;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
}

.trailer-btn {
  background-color: rgba(0, 0, 0, 0.185);
  border: 2px solid #ffdc16;
  color: #ffdc16;
  font-weight: bold;
}

/* NotFoundPage */
.NotFoundPage {
  width: 100vw;
  height: 100vh;
}
.NotFoundPage .error {
  text-align: center;
  margin-top: 120px;
}
.NotFoundPage .error .error-title {
  position: relative;
}
.NotFoundPage .error .error-title h1 {
  font-size: 200px;
}
.NotFoundPage .error .error-title h3 {
  position: absolute;
  top: 40%;
  left: 49.5%;
  font-size: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.NotFoundPage .error h5 {
  font-size: 50px;
  font-weight: bold;
}
.NotFoundPage .error p {
  font-size: 22px;
  margin-bottom: 70px;
}
.NotFoundPage .error a {
  background-color: transparent;
  border: 5px solid #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

.avata {
  width: 45px;
  height: 45px;
}

/* Login */
.login {
  height: 100vh;
  width: 1300px;
  margin: auto;
}
.login .login-wrap {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login .login-wrap .login-desc h2 {
  font-size: 50px;
  font-weight: bold;
}
.login .login-wrap .login-desc img {
  margin-left: 50px;
  position: relative;
  z-index: -1;
}
.login .login-wrap .login-box {
  color: #000;
  width: 470px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border: 20px solid rgba(0, 0, 0, 0.24);
  margin-left: -150px;
  padding: 40px;
}
.login .login-wrap .login-box input {
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid #ffdc16;
  padding: 10px;
}
.login .login-wrap .login-box input::-webkit-input-placeholder {
  color: rgb(179, 179, 179);
}
.login .login-wrap .login-box input::-moz-placeholder {
  color: rgb(179, 179, 179);
}
.login .login-wrap .login-box input:-ms-input-placeholder {
  color: rgb(179, 179, 179);
}
.login .login-wrap .login-box input::-ms-input-placeholder {
  color: rgb(179, 179, 179);
}
.login .login-wrap .login-box input::placeholder {
  color: rgb(179, 179, 179);
}
.login .login-wrap .login-box input:focus {
  border: none;
}
.login .login-wrap .login-box input:hover {
  background-color: #fcf3bf;
}
.login .login-wrap .login-box .login-ck {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.login .login-wrap .login-box .login-ck span input[type=checkbox] {
  width: 10px;
}
.login .login-wrap .login-box .login-ck button {
  border: none;
  background-color: #ffdc16;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
}
.login .login-wrap .login-box .login-item {
  border: 1px solid #000;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  margin-bottom: 20px;
}